In [296]:
import pandas as pd 
import numpy as np

In [297]:
df = pd.read_csv('goodreads.csv')
df.head()

,4.40,136455,0439023483,good_reads:book,https://www.goodreads.com/author/show/153394.Suzanne_Collins,2008,/genres/young-adult|/genres/science-fiction|/genres/dystopia|/genres/fantasy|/genres/science-fiction|/genres/romance|/genres/adventure|/genres/book-club|/genres/young-adult|/genres/teen|/genres/apocalyptic|/genres/post-apocalyptic|/genres/action,dir01/2767052-the-hunger-games.html,2958974,"The Hunger Games (The Hunger Games, #1)"
0,4.41,16648.0,0439358078,good_reads:book,https://www.goodreads.com/author/show/1077326....,2003.0,/genres/fantasy|/genres/young-adult|/genres/fi...,dir01/2.Harry_Potter_and_the_Order_of_the_Phoe...,1284478.0,Harry Potter and the Order of the Phoenix (Har...
1,3.56,85746.0,0316015849,good_reads:book,https://www.goodreads.com/author/show/941441.S...,2005.0,/genres/young-adult|/genres/fantasy|/genres/ro...,dir01/41865.Twilight.html,2579564.0,"Twilight (Twilight, #1)"
2,4.23,47906.0,0061120081,good_reads:book,https://www.goodreads.com/author/show/1825.Har...,1960.0,/genres/classics|/genres/fiction|/genres/histo...,dir01/2657.To_Kill_a_Mockingbird.html,2078123.0,To Kill a Mockingbird
3,4.23,34772.0,0679783261,good_reads:book,https://www.goodreads.com/author/show/1265.Jan...,1813.0,/genres/classics|/genres/fiction|/genres/roman...,dir01/1885.Pride_and_Prejudice.html,1388992.0,Pride and Prejudice
4,4.25,12363.0,0446675539,good_reads:book,https://www.goodreads.com/author/show/11081.Ma...,1936.0,/genres/classics|/genres/historical-fiction|/g...,dir01/18405.Gone_with_the_Wind.html,645470.0,Gone with the Wind

In [298]:
# As the dataset has no column names so better to give the names 
columns = ['Rating', 
           'Publication Cost', 
           'ISBN',
           'Good Reads', 
           'Book URL', 
           'Year', 
           'Genres', 
           'Link', 
           'Total Revenue', 
           'Book Title']
df = pd.read_csv('goodreads.csv', names=columns)

In [299]:
df.head()

,Rating,Publication Cost,ISBN,Good Reads,Book URL,Year,Genres,Link,Total Revenue,Book Title
0,4.40,136455.0,0439023483,good_reads:book,https://www.goodreads.com/author/show/153394.S...,2008.0,/genres/young-adult|/genres/science-fiction|/g...,dir01/2767052-the-hunger-games.html,2958974.0,"The Hunger Games (The Hunger Games, #1)"
1,4.41,16648.0,0439358078,good_reads:book,https://www.goodreads.com/author/show/1077326....,2003.0,/genres/fantasy|/genres/young-adult|/genres/fi...,dir01/2.Harry_Potter_and_the_Order_of_the_Phoe...,1284478.0,Harry Potter and the Order of the Phoenix (Har...
2,3.56,85746.0,0316015849,good_reads:book,https://www.goodreads.com/author/show/941441.S...,2005.0,/genres/young-adult|/genres/fantasy|/genres/ro...,dir01/41865.Twilight.html,2579564.0,"Twilight (Twilight, #1)"
3,4.23,47906.0,0061120081,good_reads:book,https://www.goodreads.com/author/show/1825.Har...,1960.0,/genres/classics|/genres/fiction|/genres/histo...,dir01/2657.To_Kill_a_Mockingbird.html,2078123.0,To Kill a Mockingbird
4,4.23,34772.0,0679783261,good_reads:book,https://www.goodreads.com/author/show/1265.Jan...,1813.0,/genres/classics|/genres/fiction|/genres/roman...,dir01/1885.Pride_and_Prejudice.html,1388992.0,Pride and Prejudice

In [300]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000 entries, 0 to 5999
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Rating            5998 non-null   float64
 1   Publication Cost  5998 non-null   float64
 2   ISBN              5523 non-null   object
 3   Good Reads        5998 non-null   object
 4   Book URL          5998 non-null   object
 5   Year              5993 non-null   float64
 6   Genres            5938 non-null   object
 7   Link              6000 non-null   object
 8   Total Revenue     5998 non-null   float64
 9   Book Title        5998 non-null   object
dtypes: float64(4), object(6)
memory usage: 468.9+ KB

In [301]:
df.isna().sum()

Rating                2
Publication Cost      2
ISBN                477
Good Reads            2
Book URL              2
Year                  7
Genres               62
Link                  0
Total Revenue         2
Book Title            2
dtype: int64

In [302]:
df.isna().sum().sum()

558

# Rating Column

In [303]:
df['Rating'].isna().sum()

2

In [304]:
df['Rating'].min(), df['Rating'].max()

(2.0, 5.0)

In [305]:
# Replacing or Filling the Null values with the Mean  of that Column
df['Rating'].fillna(df['Rating'].mean(), inplace=True)

# Publication Cost

In [306]:
df['Publication Cost'].isna().sum()

2

In [307]:
# Replacing or Filling the Null values with the Mean  of the Column
df['Publication Cost'].fillna(df['Publication Cost'].mean(), inplace=True)

# ISBN Column

In [308]:
df['ISBN'].isna().sum()

477

In [309]:
# As the Datatype of 'ISBN' is Object so it can't perform mean 
# so just replacing ISBN with 'Unknown'
df['ISBN'].fillna('Unknown', inplace=True)

# Good Reads Column

In [310]:
df['Good Reads'].unique()

array(['good_reads:book', nan], dtype=object)

In [311]:
# No need of this column
df.drop(columns=['Good Reads'], inplace=True)

In [312]:
df.head(2)

,Rating,Publication Cost,ISBN,Book URL,Year,Genres,Link,Total Revenue,Book Title
0,4.40,136455.0,0439023483,https://www.goodreads.com/author/show/153394.S...,2008.0,/genres/young-adult|/genres/science-fiction|/g...,dir01/2767052-the-hunger-games.html,2958974.0,"The Hunger Games (The Hunger Games, #1)"
1,4.41,16648.0,0439358078,https://www.goodreads.com/author/show/1077326....,2003.0,/genres/fantasy|/genres/young-adult|/genres/fi...,dir01/2.Harry_Potter_and_the_Order_of_the_Phoe...,1284478.0,Harry Potter and the Order of the Phoenix (Har...

# Book URL Column

In [313]:
df['Book URL'].isna().sum()

2

In [314]:
# As the Datatype of 'Book URL' is Object so it can't perform mean 
# so just replacing Book URL with 'Unknown'
df['Book URL'].fillna('Unknown', inplace=True)

# Year Column

In [315]:
df['Year'].isna().sum()

7

In [316]:
# Replacing or Filling the Null values with the Mean  of the Column
df['Year'].fillna(df['Year'].mean(), inplace=True)

In [317]:
# Changing the datatype of Year from float to int
df['Year'] = df['Year'].astype('int')

# Genres Column

In [318]:
df['Genres'].isna().sum()

62

In [319]:
# As Genres is also a object and we will perform some patterns 
# so it's better to replace Null values with the any of the row value
# Here I'm taking the First Value
first = df['Genres'].iloc[0]
df['Genres'].fillna(first, inplace=True)

In [320]:
# Here the logic comes to extract the genres from each df['Genres] row
def extract_genres(string):
    genre_list = [g.split('/')[-1] for g in string.split('|')]
    return ', '.join(genre_list)

In [321]:
# Now just applying the logic to the each data of the column of df['Genres]
df['Genres'] = df['Genres'].apply(extract_genres)

In [322]:
df['Genres'].head(4)

0    young-adult, science-fiction, dystopia, fantas...
1    fantasy, young-adult, fiction, fantasy, magic,...
2    young-adult, fantasy, romance, paranormal, vam...
3    classics, fiction, historical-fiction, academi...
Name: Genres, dtype: object

# Total Revenue Column

In [323]:
df['Total Revenue'].isna().sum()

2

In [324]:
# Replacing or Filling the Null values with the Mean  of the Column
df['Total Revenue'].fillna(df['Total Revenue'].mean(), inplace=True)

# Book Titile Column

In [325]:
df['Book Title'].isna().sum()

2

In [326]:
# If we don't know the Book title so no use of the other information 
# so it's better to drop the Null values 
df.dropna(subset=['Book Title'], inplace=True)

In [327]:
df['Book Title'].tail()

5995                                   The River of Doubt
5996                                                 Shug
5997                                               Flawed
5998                Ø£Ø³Ø¹Ø¯ Ø§Ù
Ø±Ø£Ø© ÙÙ Ø§ÙØ¹Ø§ÙÙ

5999    Legacy of the Drow Collector's Edition (Legacy...
Name: Book Title, dtype: object

In [328]:
# As we can't determine the 2nd last value so better to drop the row
df.drop(df.index[-2], inplace=True)

# Arranging the Columns

In [329]:
arrange_columns = ['Rating', 
           'Publication Cost', 
           'ISBN', 
           'Book Title', 
           'Year', 
           'Genres', 
           'Link', 
           'Total Revenue', 
           'Book URL']

df = df[arrange_columns]

In [334]:
# Reseting the index
df.reset_index(drop=True, inplace=True)

In [335]:
df.head()

,Rating,Publication Cost,ISBN,Book Title,Year,Genres,Link,Total Revenue,Book URL
0,4.40,136455.0,0439023483,"The Hunger Games (The Hunger Games, #1)",2008,"young-adult, science-fiction, dystopia, fantas...",dir01/2767052-the-hunger-games.html,2958974.0,https://www.goodreads.com/author/show/153394.S...
1,4.41,16648.0,0439358078,Harry Potter and the Order of the Phoenix (Har...,2003,"fantasy, young-adult, fiction, fantasy, magic,...",dir01/2.Harry_Potter_and_the_Order_of_the_Phoe...,1284478.0,https://www.goodreads.com/author/show/1077326....
2,3.56,85746.0,0316015849,"Twilight (Twilight, #1)",2005,"young-adult, fantasy, romance, paranormal, vam...",dir01/41865.Twilight.html,2579564.0,https://www.goodreads.com/author/show/941441.S...
3,4.23,47906.0,0061120081,To Kill a Mockingbird,1960,"classics, fiction, historical-fiction, academi...",dir01/2657.To_Kill_a_Mockingbird.html,2078123.0,https://www.goodreads.com/author/show/1825.Har...
4,4.23,34772.0,0679783261,Pride and Prejudice,1813,"classics, fiction, romance, historical-fiction...",dir01/1885.Pride_and_Prejudice.html,1388992.0,https://www.goodreads.com/author/show/1265.Jan...

In [336]:
df.tail()

,Rating,Publication Cost,ISBN,Book Title,Year,Genres,Link,Total Revenue,Book URL
5992,4.37,28.0,0393062260,The Book of Psalms,2007,"poetry, religion, christian, religion, theolog...",dir60/1251125.The_Book_of_Psalms.html,242.0,https://www.goodreads.com/author/show/62157.Ro...
5993,4.17,2226.0,0767913736,The River of Doubt,2005,"history, non-fiction, biography, adventure, bo...",dir60/78508.The_River_of_Doubt.html,16618.0,https://www.goodreads.com/author/show/44565.Ca...
5994,3.99,775.0,1416909427,Shug,2006,"young-adult, realistic-fiction, romance, conte...",dir60/259068.Shug.html,6179.0,https://www.goodreads.com/author/show/151371.J...
5995,3.78,540.0,1620612321,Flawed,2012,"contemporary, romance, young-adult, sociology,...",dir60/13503247-flawed.html,2971.0,https://www.goodreads.com/author/show/5761314....
5996,4.35,61.0,0786929081,Legacy of the Drow Collector's Edition (Legacy...,2001,"fiction, fantasy, magic, science-fiction-fanta...",dir60/66677.Legacy_of_the_Drow_Collector_s_Edi...,3982.0,https://www.goodreads.com/author/show/1023510....

# Export to New Cleaned CSV

In [332]:
# Exporting the CSV to New Cleaned CSV Data File without indexing
df.to_csv('cleaned_book_sample.csv', index=False)